.projects-grid {
  margin: 0 auto;
  padding: 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  max-width: 1300px;
}

.project-wrapper {
  flex: 1 1 calc(33% - 2em);
  text-align: center;
}

.project-image {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-size: large;
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth hover transition */
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  margin: 1em;
}

.image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 94, 94, 0.363); /* Change to desired tint */
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.image-wrapper:hover::after {
  opacity: 1;
}
