<div class="project">
  <div class="project-left" #projectLeftElement>
    <img
      [src]="project?.logo"
      alt="Project Logo"
      [ngStyle]="{ width: imageHeight }"
    />

    @if (showVideo && project?.videos?.[0]) {
    <div class="video-container main-left-video">
      <iframe
        [src]="getSafeVideoUrl(project!.videos[0])"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    }
  </div>

  <div class="project-right" #projectRightElement>
    <h3>{{ project?.title }}</h3>
    <ul>
      <li>{{ project?.role }}</li>
    </ul>

    <div class="project-description" [innerHTML]="project?.description"></div>

    <br />

    <h5>Key Responsibilities</h5>
    <ul>
      @for (responsibility of project?.keyResponsibilities; track
      responsibility) {
      <li>{{ responsibility }}</li>
      }
    </ul>

    @if (project?.note != '') {
    <p><strong>Note:</strong> {{ project?.note }}</p>
    }
  </div>
</div>

@if(project?.images?.length != 0 || project?.videos?.length != 0){
<div class="project-gallery">
  @if (project?.videos?.length != 0) { @for (videoRef of project?.videos; track
  videoRef) { @if ((videoRef === project?.videos?.[0] && !showVideo) ||
  (videoRef !== project?.videos?.[0])) {
  <div class="video-container">
    <iframe
      [src]="getSafeVideoUrl(videoRef)"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  } } } @if (project?.images?.length != 0) { @for (image of project?.images;
  track image) {
  <div class="image-container"><img src="{{image}}" /></div>
  } }
</div>
}

<div class="project-navigation">
  <div class="project-nav-btn-grid">
    <button
      class="btn btn-outline-light btn-lg fa-solid fa-chevron-left"
      [disabled]="!canNavigatePrevious"
      (click)="clickPrevious()"
    ></button>
    <button
      class="btn btn-outline-light btn-lg fa-solid fa-chevron-right"
      [disabled]="!canNavigateNext"
      (click)="clickNext()"
    ></button>
  </div>
</div>
